.App {
  text-align: center;
}

.App-logo {
  height: 185px;
}
.App-header {
  background-color: #22bedb;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.alert{
  position: absolute;
  z-index: 1;
  background: lightgray;
  border-style: solid;
  border-width: 2px;
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px;
}

.content{
  padding: 10px;
  background: #ebd060;
}
.menuLink{
  width: 100%
}